*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
   
 }
 a{
   text-decoration: none;
   font-weight: normal;
   color: #fff;
   text-transform: capitalize;
   padding: 10px;
   text-shadow: 1px 1px #666;
 }

.login{
    width: 25%;
    height: 400px;
    background: rgb(246, 248, 248);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);

}
header{
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 26px;
  padding: 0;
  img{
      width: 150px;
      height: 150px;
      object-fit: contain
  }
}
.conte-form{
    width: 80%;
    margin: auto;    
}

.input{
    display: block;
    width: 100%;   
}
.button{
    display: flex;
    justify-content: center;
}

  // mensajes de validacion
.contenedorMsj{
    display: flex;
    flex-direction:column;
    position: absolute;
    top:0;
    right:-250px;
   
}
.mensaje{
    padding: 10px;
    margin:2px 2px;
    background: #d31027;
    border-radius: 5px;
    color:#fff;
    text-align: center;    
}
