@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
.contenido {
  width:100%;
  height:100vh;
  background: linear-gradient(to right, #396afc, #145fbb);
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}
a{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-weight:normal;
}
.texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 200px;
    font-weight:300;
    text-shadow: 1px 1px #666;
    color: #fff;
    text-align: center;
    div:nth-child(2){
       font-size: 50px;
       text-transform: capitalize;
       animation: jello 1s;
    }
   
}



@keyframes jello {
    from,
    11.1%,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    22.2% {
      -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
      transform: skewX(-12.5deg) skewY(-12.5deg);
    }
  
    33.3% {
      -webkit-transform: skewX(6.25deg) skewY(6.25deg);
      transform: skewX(6.25deg) skewY(6.25deg);
    }
  
    44.4% {
      -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
      transform: skewX(-3.125deg) skewY(-3.125deg);
    }
  
    55.5% {
      -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
      transform: skewX(1.5625deg) skewY(1.5625deg);
    }
  
    66.6% {
      -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
  
    77.7% {
      -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
      transform: skewX(0.390625deg) skewY(0.390625deg);
    }
  
    88.8% {
      -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
  }
  
  .jello {
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  